#{extends 'principal.html' /}
#{set title:'Formulário Ala' /}

%{
	String tituloAcaoForm = ala?.id == null? "Cadastrar":"Salvar Alterações"; 
	String tituloForm = ala?.id == null? "Cadastro":"Edição";
}%

<meta charset="utf-8">
<div id="pacie">
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-bookmark"></i> ${tituloForm} de Ala</div>
	<div class="card-body">
          
		<form action="@{Alas.salvar}" name="Filter" class="form" method="post">
			
			<input type="hidden" value="${ala?.id}" name="ala.id">
			
				
				<div class="row">					
					<div class="form-group col-md-4">
					   	<label for="formGroupExampleInput">Nome da Ala</label>
					   	<input type="text" class="form-control" id="nomeAla" value="${ala?.nomeAla}" name="ala.nomeAla">
					</div>
				</div>
				
				<div class="card mb-3">
					  <div class="card-header">
					    <i class="fa fa-list"></i> Cadastrar quarto para a ala</div>
					  <div class="card-body">
						<div class="form-group">
							<label for="quartos">Informe o número do quarto:</label>
							<div class="input-group mb-3">	
								
								<input type="text" class="form-control col-md-4" id="num-quarto">
								
								<div class="input-group-append">	
									<button type="button" class="btn btn-success add-quarto">Cadastrar Quarto</button>
								</div>
							</div>
						</div>
						<br>
						
						<p><b>QUARTOS ASSOCIADOS A ALA:</b></p>
						
						<ul id="quartos" class="list-group list-group-flush">
						#{if ala != null && !ala.getQuartosAtivos().isEmpty()}
							#{list items:ala.getQuartosAtivos(), as: 'quarto'}
								<li id="li-quarto-${quarto.id}" class="list-group-item d-flex justify-content-between align-items-center">
									<input id='quarto-${quarto.numeroQuarto}' class="quarto" type='hidden' name='quartoIDs' value='${quarto.id}'>
									
									<a href="">Quarto #${quarto.numeroQuarto}</a> 
																
									<button type="button" class="btn btn-danger btn-sm del-quarto" value="${quarto.id}">
		          						<span class="glyphicon glyphicon-remove"></span> Remover 
		        					</button>
								</li>
							#{/list}	
						#{/if}
					</ul>
					<div id="msg-nenhum-quarto"></div>
					<br>
					  </div>
					</div>					
					
					<div class="modal-footer">
					<input class="btn btn-success" type="submit" value="${tituloAcaoForm}">
					<button type="reset" class="btn btn-default" data-dismiss="modal">Limpar</button>
				</div>

			</form>
		</div>
	</div>
</div>

<script>
window.onload = function(){
	
	// Verifica se o professor já foi adicionado
	var quartoAdicionado = function(numQuarto){
		var inputHiddenQuarto = $("#quarto-" + numQuarto);
		return (inputHiddenQuarto.val());
	};
	
	var atualizaMensagemDeQuartosVazios = function(){
		var inputHiddenQuarto = $(".quarto");
		if(inputHiddenQuarto.length != 0){
			$("#msg-nenhum-quarto").html("");
		}else{
			$("#msg-nenhum-quarto").html("<p>Nenhum quarto associado a ala.</p>");
		}
	};
	
	atualizaMensagemDeQuartosVazios();
	  
	// Adiciona o professor caso ele ainda não tenha sido adicionado
    $(".add-quarto").click(function(){
    	
    	var numQuartoInput = $('#num-quarto');
    	
    	if(numQuartoInput.val() == ''){
    		$.notify('Por favor, informe o número do quarto a ser adicionado.');
    		return;
    	}
    	
    	var numQuarto = numQuartoInput.val();
    	
    	var html = "<li id='li-quarto-" + numQuarto + "' class='list-group-item d-flex justify-content-between align-items-center'> " +
		    		  	"<input id='quarto-" + numQuarto + "' class='quarto' type='hidden' name='quartosNums' value='" + numQuarto + "'> " +
		    		  	"Quarto #" + numQuarto +
		    		  		"<button type='button' class='del-quarto btn btn-danger btn-sm' value='" + numQuarto + "'>" +
		    		  		"<span class='glyphicon glyphicon-remove'></span> Remover " +
		    		  		"</button>" +
		    	   "</li>";
		
		if(!quartoAdicionado(numQuarto)){
			$("#quartos").append(html);
		}else{
			$.notify('O quarto <b>' + numQuarto + '</b> já foi adicionado.');
		}
		
		numQuartoInput.val("");
    });
    
    $(document).on('click', '.del-quarto', function () {
    	var numQuarto = $(this).attr("value");
    	$("#li-quarto-" + numQuarto).remove();
    });
    
    $(document).on('click', ".add-quarto,.del-quarto", function(){
		atualizaMensagemDeQuartosVazios();
	});
    
    $.notifyDefaults({
    	type: 'success',
    	allow_dismiss: true,
    });
};

</script>