#{extends 'principal.html' /}
#{set title:'Listar Alas' /}

<meta charset="utf-8">

<div class="card mb-3">
	<div class="card-header">
   		<i class="fa fa-table"></i>Listagem de Ala</div>
 	<div class="card-body">
		    
	    <table class="table dataTable" id="dataTable">
	    	<thead>
		        <tr>		        
		        <th>Nome da Ala</th>
		        <th>Número de Quartos</th>
	         	<th>Opções</th>
	       	</thead>
	       	<tbody>
		
			#{list items:alas, as:'ala'}
			<tr role="row">
	        	
	           	<td>${ala.nomeAla}</td>
	            <td>${ala.getQuartosAtivos().size()}</td>           
	           	<td>
	           		<a class="btn1 btn-default" href="@{Alas.detalhes(ala.id)}">
           					<button class="btn">
           						<i class="fa fa-fw fa fa-bars"></i>
           					</button>
           				</a>
		           		<a class="btn1 btn-default" href="@{Alas.editar(ala.id)}">
		           			<button class="btn">
		           				<i class="fa fa-fw fa-pencil"></i>
		           			</button>
		           		</a>
	           	  		<a class="btn1 btn-default" href="@{Alas.remover(ala.id)}">
	           	  			<button class="btn">
	           	  				<i class="fa fa-fw fa-trash"></i>
	           	  			</button>
	           	  		</a>
	           	</td>
	       		</tr>
			#{/list}
			</tbody>
	    </table>
    	</br></br></br>
    	<div class="modal-footer">
    		<a href="@{Alas.form}"><button class="btn btn-success">Cadastrar nova Ala</button></a> 
    		<a href="@{Quartos.form}"><button class="btn btn-default">Cadastrar Leitos ao Quarto</button></a>   
    	</div>
  	</div>
</div>