#{extends 'principal.html' /}
#{set title:'Carregar Quarto' /}

<meta charset="utf-8">
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-check-square"></i> Todos os Quartos da Ala </div>
	<div class="card-body">
			
			<label for="quartos">Selecione o quarto para adicionar:</label>
				<div class="input-group mb-3">
					
					<select class="form-control" id="quarto" name="quarto" required="selecione um quarto">  	
						<option value="-1">Selecione um quarto </option>					
					   		#{list items:quartos, as:'quarto'}
					   			<option value="${quarto.id}">${quarto.numeroQuarto}</option>
					   		#{/list}
					</select>
					</div>
					
					<div class="modal-footer">
					<a class="btn1 btn-default" href="@{Internacoes.form(quarto.id)}">
           			<button class="btn btn-success">Proximo</button>
           			</a>
           			</div>
		
	</div>
</div>

<script>
$(document).ready(function(){
	$("#quarto option:first").attr('selected','selected'){
	});
}
</script>
