#{extends 'principal.html' /}
#{set title:'Carregar Ala' /}

<meta charset="utf-8">
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-check-square"></i> Todas as Alas do Hospital</div>
	<div class="card-body">
			
			<label for="alas">Selecione a ala para adicionar:</label>
				<div class="input-group mb-3">
					
					<select class="form-control" id="ala" name="ala" required="selecione uma ala">
					<option value="-1">Selecione uma ala</option>
						#{list items:alas, as:'ala'}
					   			<option value="${ala.id}">${ala.nomeAla}</option>
					   	#{/list}
					
					</select>
					</div>
					
					<div class="modal-footer">
					<a class="btn1 btn-default" href="@{Internacoes.carregarQuarto(ala.id)}">
           			<button class="btn btn-success">Proximo</button>
           			</a>
			</div>
	</div>
</div>

<script>

$(document).ready(function(){
	$("#ala option:first").attr('selected','selected'){
	});
}

</script>
