#{extends 'principal.html' /} #{set title:'Detalhes' /}

<meta charset="utf-8">
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-bookmark"></i>Detalhes da Internação
	</div>
	<div class="card-body">
		<div class="card mb-3">
			<div class="card-header">
			<b>Internação</b>
			</div>
			<center>
			<br><b>Ficha da Internação do paciente</b>
			</center>
			<div class="row">
				<div class="card-body">
				#{if internacao?.pacientes}
					<table class="table table-striped">
						<div>
							<div class="form-group col-md-5">
								
								<tr>
									<td width=20% align="right">
										<h6><b>Nome do paciente:</h6>
									</td> 
									#{list items:internacao.pacientes, as:'paciente'}
										<td>
											<h6><i><a href="@{Pacientes.detalhes(paciente.id)}">${paciente.nome}</a></i></h6>
										</td> 
									#{/list}
								</tr>
								
								<tr>
									<td align="right">
										<h6><b>Nome do medico:</h6>
									</td>
									#{list items:internacao.medicos, as:'medico'}
										<td>
											<h6><i><a href="@{Medicos.detalhes(medico.id)}">${medico.nome}</a></h6>
										</td>
									#{/list}
								</tr>
								
								<tr>
									<td align="right">
										<h6><b>Nome do enfermeiro:</h6>
									</td> 
									#{list items:internacao.enfermeiros, as:'enfermeiro'}
										<td>
											<h6><i><a href="@{Enfermeiros.detalhes(enfermeiro.id)}">${enfermeiro.nome}</i></h6>
										</td> 
									#{/list}
								</tr>
								
								<tr>
									<td align="right">
										<h6><b>Ala da internação:</h6>
									</td> 
									#{list items:internacao.alas, as:'ala'}
										<td>
											<h6><i><a href="@{Alas.detalhes(ala.id)}">${ala.nome}</i></h6>
										</td> 
									#{/list}
								</tr>
								
								
							</div>
						</div>
					</table>
					
					#{/if} #{else}
						<p>Nenhum paciente associado a internação.</p>
					#{/else}
					
				</div>
			</div>
		</div>
		
		<br>
		<div class="">
			<a class="btn btn-primary" href="@{Internacoes.editar(internacao.id)}">Editar</a>
		</div>
		
		<br>
		<a href="@{Internacoes.listar}">Ver todas Internacoes</a>
		
	</div>
</div>