#{extends 'principal.html' /} 
#{set title:'Detalhes' /}

<meta charset="utf-8">
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-bookmark"></i>Detalhes da Internação
	</div>
	<div class="card-body">
		<div class="card mb-3">
			<div class="card-header">
			<b>Internação</b>
			</div>
			<center>
			<br><b>Ficha da Internação do paciente</b>
			</center>
			<div class="row">
				<div class="card-body">
				#{if internacao?.paciente}
					<table class="table table-striped">
						<div>
							<div class="form-group col-md-5">
								
								<tr>
									<td width=20% align="right">
										<h6><b>Nome do paciente:</h6>
									</td> 
									
										<td>
											<h6><i><a href="">${internacao.paciente.nome}</a></i></h6>
										</td> 
									
								</tr>
								
								<tr>
									<td align="right">
										<h6><b>Nome do medico:</h6>
									</td>
									
										<td>
											<h6><i><a href="">${internacao.medico.nome}</a></h6>
										</td>
									
								</tr>
								
								<tr>
									<td align="right">
										<h6><b>Nome do enfermeiro:</h6>
									</td> 
									
										<td>
											<h6><i><a href="">${internacao.enfermeiro.nome}</i></h6>
										</td> 
									
								</tr>
								
								<tr>
									<td align="right">
										<h6><b>Leito da internação:</h6>
									</td> 
									
										<td>
											<h6><i><a href="">${internacao.leito.numeroLeito}</i></h6>
										</td> 
									
								</tr>
								
								
							</div>
						</div>
					</table>
					
					#{/if} #{else}
						<p>Nenhum paciente associado a internação.</p>
					#{/else}
					
				</div>
			</div>
		</div>
		
		<br>
		<a href="">
	          <button class="btn btn-default">add medi</button></a>
		
		<br>
		<div class="">
			<a class="btn btn-primary" href="@{Internacoes.editar(internacao.id)}">Editar</a>
		</div>
		
		<br>
		<a href="@{Internacoes.listar}">Ver todas Internacoes</a>
		
	</div>
</div>