#{extends 'principal.html' /}
#{set title:'Formulário Quarto' /}

%{
	String tituloAcaoForm = quarto?.id == null? "Cadastrar":"Editar"; 
	String tituloForm = quarto?.id == null? "Cadastro":"Salvar Alterações";
}%

<meta charset="utf-8">
<div id="quarto">
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-bookmark"></i> ${tituloForm} de Quarto</div>
	<div class="card-body">
          
		<form action="@{Quartos.salvar}" name="Filter" class="form" method="post">
			
			<input type="hidden" value="${quarto?.id}" name="quarto.id">
			
				
				<h6><b>Identificação do Quarto</b></h6>
				<div class="input-group mb-3">					
					<select class="form-control" id="quarto" name="quarto.id">  	
						<option value="-1">Selecione um quarto </option>					
					   		#{list items:quartos, as:'quarto'}
					   			<option value="${quarto.id}">${quarto.numeroQuarto}</option>
					   		#{/list}
					</select>
					</div>
				
				<div class="card mb-3">
					  <div class="card-header">
					    <i class="fa fa-list"></i> Cadastrar leito para o quarto</div>
					  <div class="card-body">
						<div class="form-group">
							<label for="leitos">Informe o número do leito:</label>
							<div class="input-group mb-3">	
								
								<input type="text" class="form-control col-md-4" id="num-leito">
								
								<div class="input-group-append">	
									<button type="button" class="btn btn-success add-leito">Cadastrar Leito</button>
								</div>
							</div>
						</div>
						<br>
						
						<p><b>LEITOS ASSOCIADOS AO QUARTO:</b></p>
						
						<ul id="leitos" class="list-group list-group-flush">
						#{if quarto != null && !quarto.getLeitosAtivos().isEmpty()}
							#{list items:quarto.getLeitosAtivos(), as: 'leito'}
								<li id="li-leito-${leito.id}" class="list-group-item d-flex justify-content-between align-items-center">
									<input id='leito-${leito.numeroLeito}' class="leito" type='hidden' name='leitoIDs' value='${leito.id}'>
									
									<a href="">Leito #${leito.numeroLeito}</a> 
																
									<button type="button" class="btn btn-danger btn-sm del-leito" value="${leito.id}">
		          						<span class="glyphicon glyphicon-remove"></span> Remover 
		        					</button>
								</li>
							#{/list}	
						#{/if}
					</ul>
					<div id="msg-nenhum-leito"></div>
					<br>
					  </div>
					</div>					
					
					<div class="modal-footer">
					<input class="btn btn-success" type="submit" value="${tituloAcaoForm}">
					<button type="reset" class="btn btn-default" data-dismiss="modal">Limpar</button>
				</div>

			</form>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	$("#quarto option:first").attr('selected','selected'){
	});
}
</script>


<script>
window.onload = function(){
	
	// Verifica se o professor já foi adicionado
	var leitoAdicionado = function(numLeito){
		var inputHiddenLeito = $("#leito-" + numLeito);
		return (inputHiddenLeito.val());
	};
	
	var atualizaMensagemDeLeitosVazios = function(){
		var inputHiddenLeito = $(".leito");
		if(inputHiddenLeito.length != 0){
			$("#msg-nenhum-leito").html("");
		}else{
			$("#msg-nenhum-leito").html("<p>Nenhum leito associado ao quarto.</p>");
		}
	};
	
	atualizaMensagemDeLeitosVazios();
	  
	// Adiciona o professor caso ele ainda não tenha sido adicionado
    $(".add-leito").click(function(){
    	
    	var numLeitoInput = $('#num-leito');
    	
    	if(numLeitoInput.val() == ''){
    		$.notify('Por favor, informe o número do leito a ser adicionado.');
    		return;
    	}
    	
    	var numLeito = numLeitoInput.val();
    	
    	var html = "<li id='li-leito-" + numLeito + "' class='list-group-item d-flex justify-content-between align-items-center'> " +
		    		  	"<input id='leito-" + numLeito + "' class='leito' type='hidden' name='leitosNums' value='" + numLeito + "'> " +
		    		  	"Leito #" + numLeito +
		    		  		"<button type='button' class='del-leito btn btn-danger btn-sm' value='" + numLeito + "'>" +
		    		  		"<span class='glyphicon glyphicon-remove'></span> Remover " +
		    		  		"</button>" +
		    	   "</li>";
		
		if(!leitoAdicionado(numLeito)){
			$("#leitos").append(html);
		}else{
			$.notify('O leito <b>' + numLeito + '</b> já foi adicionado.');
		}
		
		numLeitoInput.val("");
    });
    
    $(document).on('click', '.del-leito', function () {
    	var numLeito = $(this).attr("value");
    	$("#li-leito-" + numLeito).remove();
    });
    
    $(document).on('click', ".add-leito,.del-leito", function(){
		atualizaMensagemDeLeitosVazios();
	});
    
    $.notifyDefaults({
    	type: 'success',
    	allow_dismiss: true,
    });
};

</script>
