
#{extends 'principal.html' /}
#{set title:'Total Medicamentos' /}

<meta charset="utf-8">

<div class="card mb-3">
	<div class="card-header">
   		<i class="fa fa-table"></i>Quantidade de Medicamentos</div>
 	<div class="card-body">
		    
	    <table class="table dataTable" id="dataTable">
	    	<thead>
		        <tr>		        
		        <th rowspan="1" colspan="1">Quantidade</th>
		        </thead>
	       	<tbody>
		        
		        <tr role="row">
	        	
	        	<td>${m}</td>
	        	<tbody>


</tbody>
	    </table>
    	</br></br></br>
    	
  	</div>
</div>
