
#{extends 'principal.html' /}
#{set title:'Detalhes' /}

<meta charset="utf-8">

<div class="card mb-3">
  	<div class="card-header">
    	<i class="fa fa-table"></i>Detalhes do Medicamento</div>
  	<div class="card-body">
  		
  		<table id="tableCrud" class="table table-bordered table-striped table-hover dataTable no-footer" role="grid" aria-describedby="tableCrud_info">
			
		<h4><b>Detalhes do Medicamento</b></h4>
		
			<tr height=30%>
				<td width=20% align="right"><h6><b>Numero do Leito:</b></h6></td>
				<td colspan="3"><h6><i>${medicamento.leito.numeroLeito}</i></h6></td>
			</tr>
		
		
			<tr height=30%>
				<td width=20% align="right"><h6><b>Nome:</b></h6></td>
				<td colspan="3"><h6><i>${medicamento.nomeMedicamento}</i></h6></td>
			</tr>
			
			<tr height=30%>
				<td align="right"><h6><b>Fabricante:</b></h6></td>
				<td><h6><i>${medicamento.fabricante}</i></h6></td>
			</tr>
			
			<tr height=30%>
				<td align="right"><h6><b>Data Prescrita:</b></h6></td>
				<td><h6><i>${medicamento.dataPrescrita}</i></h6></td>
			</tr>
			
			<tr height=30%>
				<td align="right"><h6><b>Quantidade de Vezes ao Dia:</b></h6></td>
				<td><h6><i>${medicamento.horariodosagem}</i></h6></td>
			</tr>
			
		</table>
		
		</br></br></br>
		<div class="modal-footer">
    		<a href="@{Medicamentos.form(medicamento.leito.id)}"><button class="btn btn-success">Cadastrar novo Medicamento</button></a> 
    		<a href="@{Medicamentos.listarPorLeito(medicamento.leito.id)}"><button class="btn btn-primary">Lista de Medicamentos por Leito</button></a>
    		<a href="@{Medicamentos.listar}"><button class="btn btn-default">Listagem de Todos Medicamentos</button></a>    
    	</div>
	
</div>
